<%- include('blocks/head') -%>
<body>
  <%- include('blocks/header') -%>
  <form id="changePswForm" action="/api/users/me" method="PATCH">
    <label>
      Current password:
      <input
        type="password"
        name="currentPsw"
        placeholder="Current Password"
        required
      />
    </label>
    <label>
      New password:
      <input
        type="password"
        name="newPsw"
        placeholder="New password"
        required
      />
    </label>
    <label>
      Confirm password:
      <input
        type="password"
        name="confirmPsw"
        placeholder="Confirm password"
        required
      />
    </label>
    <button>Save</button>
  </form>
</body>
