<%- include('blocks/head') -%>
<body>
  <div class="wrapper">
    <%- include('blocks/header') -%>
    <div class="main">
      <div class="main__container">
        <form id="changePswForm" action="/api/users/me" method="PATCH">
          <label>
            Current password:
            <input
              type="password"
              name="currentPsw"
              placeholder="Current Password"
              required
            />
          </label>
          <label>
            New password:
            <input
              type="password"
              name="newPsw"
              placeholder="New password"
              required
            />
          </label>
          <label>
            Confirm password:
            <input
              type="password"
              name="confirmPsw"
              placeholder="Confirm password"
              required
            />
          </label>
          <button type="submit">Save</button>
          <a href="/">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</body>
