<%- include('blocks/head') -%>
<body>
  <div class="wrapper">
    <%- include('blocks/header') -%>
    <div class="main">
      <div class="main__container">
        <button id="delete">Delete profile</button>
        <button><a href="/change-psw">Change password</a></button>
      </div>
    </div>
  </div>
</body>
