<%- include('blocks/head') -%>
<body>
    <%- include('blocks/header') -%>
    Register
    <form action="/register" method="post">
        <input type="text" name="test" placeholder="test">
        <button type="submit">Submit</button>
    </form>
</body>