/* header styles */
.header__block {
    display: flex;
    padding: 1rem 2rem;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin: 0 auto;
    z-index: 300;
    border: 0.1rem solid hsl(0, 0%, 100%, 0.3);
    border-radius: 1.5rem;
    background: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(0.125rem);
    box-shadow: inset 0 0 0.5rem 0.06rem hsl(0, 0%, 100%, 0.2);
    text-shadow: 0 0 8px rgba(46, 46, 46, 0.7);
    color: whitesmoke;
    font-weight: 500;
}
.header__logo {
    flex-shrink: 0;
}
.header__navigation {
    width: 100%;
}
.header__navigation ul {
    display: flex;
    gap: 3rem;
    width: 100%;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

.header__user {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
}
.btn-logout {
    text-shadow: 0 0 8px rgba(46, 46, 46, 0.7);
    color: whitesmoke;
    border: 0.1rem solid hsl(0, 0%, 100%, 0.3);
    border-radius: 0.5rem;
    padding: 0.4rem 0.8rem;
    background: hsl(0, 0%, 100%, 0.1);
}
@media (max-width: 40rem) {
    .header__navigation ul {
        gap: 1rem;
    }
    .header__block {
        width: 90%;
    }
    .btn-logout {
        padding: 0.4rem 0.4rem;
        background: hsl(0, 0%, 100%, 0.1);
        display: none;
    }
}
@media (max-width: 29rem) {
    .header__block {
        width: 100%;
        border-radius: 0 0 1.5rem 1.5rem;
        top: 0;
        padding: 1rem 1rem;
    }
}
