/* header styles */
.header {
    .header__block {
        display: flex;
    }
    .header__logo {
    }

    .header__title {
    }

    .header__navigation {
    }

    .header__user {
    }

    .header__register {
    }

    .header__login {
    }

    .header__logout {
    }

    .header__profile {
    }
}
