/* header styles */
.header {
}
.header__container {
}
.header__block {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-between;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin: 0 auto;
    z-index: 300;
    border: 0.1rem solid hsl(0, 0%, 100%, 0.3);
    border-radius: 1.5rem;
    background: hsl(0, 0%, 100%, 0.3);
    backdrop-filter: blur(0.125rem);
    box-shadow: inset 0 0 0.5rem 0.06rem hsl(0, 0%, 100%, 0.2);
    text-shadow: 0 0 8px rgba(46, 46, 46, 0.7);
    color: whitesmoke;
    font-weight: 500;
}
.header__logo {
}

.header__title {
}

.header__navigation ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-grow: 1;
}

.header__user {
    display: flex;
    gap: 1rem;
}

.header__register {
}

.header__login {
}

.header__logout {
}

.header__profile {
}
