/* home page styles for not loged in users */

.hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 2rem;
        font-weight: 700;
    }
}
.hero__actions {
    display: flex;
    gap: 1rem;
}
.btn {
    min-width: 10rem;
}
.features {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    ul{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        li{
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }
        li::before{
            content: '';
            width: 0.5rem;
            height: 0.5rem;
            background: whitesmoke;
            border-radius: 50%;
        }
    }
}
