/* note card styles */

.main__cards-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}
.main__cards ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;

    li {
        padding: 1rem;
        border: 0.1rem solid hsl(0, 0%, 100%, 0.3);
        border-radius: 1.5rem;
        background: hsl(0, 0%, 100%, 0.3);
        backdrop-filter: blur(0.125rem);
        box-shadow: inset 0 0 0.5rem 0.06rem hsl(0, 0%, 100%, 0.2);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: stretch;
        text-align: center;
        flex-basis: 20rem;
        h4{
            font-size: 1.2rem;
            font-weight: 600;
        }
        .main__content{
            flex-grow: 1;
        }
        .main_btns {
            margin-top: 1rem;
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            .card-btn {
                text-shadow: 0 0 8px rgba(46, 46, 46, 0.7);
                color: whitesmoke;
                border: 0.1rem solid hsl(0, 0%, 100%, 0.3);
                border-radius: 0.5rem;
                padding: 0.2rem 0.7rem;
                background: hsl(0, 0%, 100%, 0.1);
                min-width: 5rem;
            }
        }
    }
}
