/* imports */
@import url("./reset.css");
@import url("./header.css");
@import url("./login.css");
@import url("./register.css");
@import url("./create-note.css");

/* Main styles */

body {
    font-family: "Nunito", "Roboto";
    font-size: 1rem;
    /* background: #2b2b2b; */
    background: #2a7b9b;
    background: linear-gradient(35deg, rgba(42, 123, 155, 1) 18%, rgba(35, 135, 77, 1) 56%, rgba(6, 120, 4, 1) 100%);
    color: whitesmoke;
    text-shadow: 0 0 8px rgba(46, 46, 46, 0.7);
}

[class*="__container"] {
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrapper .main {
    flex-grow: 1;
    padding-top: 3rem;
}
.main {
    flex-grow: 1;
    width: 100%;
    margin: 0 auto;
}
.btn {
    text-shadow: 0 0 8px rgba(46, 46, 46, 0.7);
    color: whitesmoke;
    border: 0.1rem solid hsl(0, 0%, 100%, 0.3);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    background: hsl(0, 0%, 100%, 0.1);
    font-size: 1.3rem;
    max-width: 60%;
    align-self: center;
    text-align: center;
}
h2 {
    font-size: 2rem;
    font-weight: 600;
}
input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 0.1rem solid hsl(0, 0%, 100%, 0.3);
    border-radius: 0.5rem;
    background: hsl(0, 0%, 100%, 0.1);
    font-weight: 500;
    color: whitesmoke;
}
form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
input::placeholder, textarea::placeholder {
    color: whitesmoke;
}
