/* imports */
@import url("./reset.css");
@import url("./header.css");

/* Main styles */

body {
    font-family: "Nunito", "Roboto";
    font-size: 1rem;
    background: #2A7B9B;
background: linear-gradient(35deg, rgba(42, 123, 155, 1) 18%, rgba(35, 135, 77, 1) 56%, rgba(6, 120, 4, 1) 100%);
}

[class*="__container"] {
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrapper .main {
    flex-grow: 1;
    padding-top: 3rem;
}
