/* imports */
@import url("./reset.css");


/* Main styles */


body {
  font-family: "Nunito", "Roboto";
  font-size: 1rem;
  background: rgb(161, 200, 103);
}

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper .main {
  flex-grow: 1;
}